.backg{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed; 
    background-position: center center; 
}

.my-bg-text{
    background-color: #ffad50ce;
    box-shadow: #b8b4abfd;  
    border-radius: 30px;
    width: 50%
     
}
  
.largeT{
    font-family: "Monotype Corsiva"; 
}

.muchText{
    background-color: #ffad50e8;
    box-shadow: #b8b4abfd;  
    border-radius: 10px;
    border: 4px dotted #8d623088;
    font-family: "Monotype Corsiva";
    padding-left: 15px;
    width: 50%;
}

.buttomLine{
    background-color: gainsboro;
    font-size: 10px;
    padding-bottom: 50px ;
    padding-top: 50px;
    text-align: center;
}

.decriptions{
    background-color: honeydew;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-small-fat{
    font-size: 15px;
    font-weight:900;
}

.myBtn{
    border: 1px solid black;
}