<body  background="assets/background.jpg" class="backg" >
    <div class="col " >
        
        <div class="my-bg-text mx-auto " >
            <p style="font-size: 60px; font-weight:900;" class=" text-center">Junior C# full stack</p>
            <p style="font-size: 40px; font-weight:700;" class=" text-center text-break">Привет, я - Александр.</p>
            <p style="font-size: 40px; font-weight:700;" class=" text-center">Мне {{myFullYears}} {{yearsCall}} </p>
        </div>

        <table class="col-md-2 float-md-right " >
            <div class="" style="background-color: #ffe4c4f3;"> Технологии, с которыми я знаком:</div>
            <div class="btn btn-success myBtn text-right">C#</div>
            <div class="btn btn-success myBtn text-right">.Net Framework</div>
            <div class="btn btn-success myBtn text-right">WPF</div>
            <div class="btn btn-success myBtn text-right">WCF</div>
            <div class="btn btn-success myBtn text-right">Entity Framework</div>
            <div class="btn btn-success myBtn text-right">angular2</div>
            <div class="btn btn-success myBtn text-right">html</div>
            <div class="btn btn-success myBtn text-right">java script</div>
            <div class="btn btn-success myBtn text-right">css</div>
            <div class="btn btn-success myBtn text-right">type script</div>
            <div class="btn btn-success myBtn text-right">bootstrap</div>
            
            
        </table>

        <div class="row">
            <div class="col-md-3">
                <img class="" src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5bad13ccb9665979c5588b66/225fa0dd-d906-4a3f-a1d9-c233ef973ef8/128" 
                style="width:200px; height:200px; margin-left:50px ;" alt="аватар">
            </div>
            <div class="col-md-3">
                <img class="" src="assets/Schema.png" 
                style="width:500px; height:180px; background-color: #ffe4c4f3;
                border-radius: 50px;" alt="схема" title="схема получения опыта. для подробностей кликните на кнопки.">
                
                <div class="btn btn-info myBtn" title="что происходило в этот период" (click)="chooseSchemNumber(1)">1</div>
                <div class="btn btn-info myBtn" title="что происходило в этот период" (click)="chooseSchemNumber(2)">2</div>
                <div class="btn btn-info myBtn" title="что происходило в этот период" (click)="chooseSchemNumber(3)">3</div>
                <div class="btn btn-info myBtn" title="что происходило в этот период" (click)="chooseSchemNumber(4)">4</div>
                <div class="btn btn-info myBtn" title="что происходило в этот период" (click)="chooseSchemNumber(5)">5</div>
            </div>
        </div>

        <div class="col-md-3 " style="margin-bottom: 20px;  border-radius: 15px; background-color: #ffe4c4f3;">
                <li style="padding-left: 5px;" *ngIf="(schemNum == 1)" >  1: С сентября 2018г. по май 2019г работал ведущим курсы Java.</li>
                <li style="padding-left: 5px;" *ngIf="(schemNum == 2)" >  2: С декабря 2018 по апрель 2019г проходил курс от фирмы по С#</li>
                <li style="padding-left: 5px;" *ngIf="(schemNum == 3)" >  3: С апреля 2019 по август 2019 года работаем командой над сетевой игрой.</li>
                <li style="padding-left: 5px;" *ngIf="(schemNum == 4)" >  4: С октября 2019 по май 2020 самостоятельно работал над сайтом и сервером по финансовому планированию.</li>
                <li style="padding-left: 5px;" *ngIf="(schemNum == 5)" >  5: Ищу работу джуном по напралению .Net C#</li>
        </div>

        <div *ngIf="longStory == false" class="btn btn-warning myBtn" (click)="wantLongStory()">
            Для длинной истории
        </div>

        <div *ngIf="longStory == true" class="btn" title="кликните, чтобы скрыть"  (click)="wantLongStory()">
            <h2 class="muchText mx-auto"> 
                Моё знакомство с языком С# и в целом с .Net началось
                с курсов на которые я попал случайно. 
                Я уже был  знаком на тот момент с языком java и работал учителем по java для школьников. 
                Так что ознакомление с основами С# прошло довольно гладко, ведь их синтаксис схож.
            </h2>
            <h2 class="muchText mx-auto"> 
                Затем я полностью ушёл в C#. Закончил тот курс на который попал и пошёл на практику в ту же фирму.
                Во время практики мы командой из 6 человек дописывали программу, что писали ранее.
                Это была клиент-серверная игра. Работали через систему контроля версий bitbucket.
                Писали под руководством тимлида из компании.
                Обычно это была встреча в начале дня к 10 часам, где нам примерно говорили, что нужно будет реализовать.
                Затем мы брали распределённые по важности задачи на trello, писали весь день и расходились к 6 вечера.
            </h2>
            <h2 class="muchText mx-auto">
                Потом там же был расширеный курс, для прошедших практику, где было минимум встреч - раз в неделю.
                Потом и вовсе мы работали сами. Нам дали каждому своё задание. Использовали одинаковые технологии,
                но конечный продукт был у всех разный. 
                Я писал планировщик капитала онлайн.
                Технологии, которые нам необходимо было использовать - это Web Api MVC, angular2,
                EntityFramework, WCF(Чтобы слегка с ним ознакомиться. он только передавал информацию из модуля в модуль)
            </h2>
        </div>
    </div>
        
    <div class="decriptions">Здесь вы можете ознакомиться с моими работами: 
        <a href="http://bitbucket.com/alex334807">http://bitbucket.com/alex334807</a>
    </div>

    <div class="decriptions">Мой участие в командной разработке сетевой игры: 
        <a href="https://bitbucket.org/yafarkin/icc_tank/src/master"> https://bitbucket.org/yafarkin/icc_tank/src/master</a>
    </div>
    
    <div class="buttomLine">Для связи со мной используйте Email:
        <div class="text-small-fat">alex334807@yandex.ru</div>
    </div>
</body>

